<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ARAC_KIRALAMA_OTOMASYONU.Properties.Settings.ARAC_KIRALAMA_VERITABANIConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ARAC_KIRALAMA_VERITABANI.mdb"
            providerName="System.Data.OleDb" />
        <add name="ARAC_KIRALAMA_OTOMASYONU.Properties.Settings.ARAC_KIRALAMA_VERITABANIConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\ARAC_KIRALAMA_VERITABANI.mdb"
            providerName="System.Data.OleDb" />
        <add name="ARAC_KIRALAMA_OTOMASYONU.Properties.Settings.finalConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\final.mdb"
            providerName="System.Data.OleDb" />
        <add name="ARAC_KIRALAMA_OTOMASYONU.Properties.Settings.finalConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\final.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>